body {
    margin: 30px;
}

.authContainer{
    /* background-image: url(./bubbleLogo.jfif);
    background-repeat: no-repeat;
    margin: 35px; */
    /* background-color: whitesmoke; */
    font-family: 'Nerko One', cursive;
}

.authLogo{
    height: 500px;
    width: 500px;
    align-items: center;
}

.imgRow{
    margin-top: 20px;
}